<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <style>
        body{
            background-image: url("{{url_for('static', filename='cr.jpg')}}");
            background-repeat:no-repeat;
            background-size:cover;
            background-position:center;
        }
    </style>
</head>
<body style="font-family: Verdana, Geneva, Tahoma, sans-serif">
<div class="main">
    <table  border="1" style="margin:200px 300px 200px 300px;background:linear-gradient(#e7e9ea,#e7e9eb,#e6ebe6)">
        <h1 style="text-align:center;color:rgb(25, 25, 27);font-family: Verdana, Geneva, Tahoma, sans-serif">CONTACTS</h1>
        <tr>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>COLLEGE</th>
        </tr>
        
        <tr>
            <td>JEFFRI MEGDALIN J (Team Leader)</td>
            <td>jeffri302000@gmail.com</td>
            <td>Adhiparasakthi Engineering College </td>
        </tr>
        <tr>
          <td>P.Divya (Team Member 1)</td>
          <td>apdivya2502@gmail.com</td>
          <td>Adhiparasakthi Engineering College</td>
        </tr>
        <tr>
            <td>K.Prathisha (Team Member 2)</td>
            <td>prathishaselvam@gmail.com</td>
            <td>Adhiparasakthi Engineering College</td>
        </tr>
        <tr>
          <td>S.Kiruthika(Team Member 3)</td>
          <td>ks3677150@gmail.com</td>
          <td>Adhiparaskthi Engineering College</td>
        </tr>
    </table>
</div>
</body>
</html>